*{
/*   border: 2px solid red; */
}

.nav-bar{
  background-color: rgba(255,255,255,.85);
  text-align: center;
  padding: 30px;
  border-bottom: grey 2px solid;
  position: fixed;
  width: 100%;
  top: 0;
  height: 75px;
  line-height: 75px;
}

.nav-bar a {
  margin: 0 60px;
  float: left;

}
.nav-bar .avatar{
  margin-right: 60px;
}

.nav-bar .links a{
  border: 3px solid grey;
  padding: 0 30px;
  border-radius: 10%;
  text-decoration: none;
  color: red;
  font-weight: bold;
}

.nav-bar .links a:hover{
 color: white;
 background-color: black;
}

.nav-bar .avatar img{
  height: 75px;
  border-radius: 50%;
}

.page-container{
  margin-top: 170px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

