p{
    list-style-type: none;
    overflow: hidden;
    background-color: #00FFFF;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 5em;
    -webkit-margin-start: 1px;
    -webkit-margin-end: 5px;
    -webkit-padding-start: 40px
}

li {
    float: left;
    border-right:1px solid #bbb;
    padding-right: 170px;
    font-weight: bold;
}
li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover
    {
    background-color: green;
}
div img{
    display: inline-block;
    border-opacity:0.5;
    float:right;
    margin-right: 2em;
    margin-top: -1em;
    position: relative;

}

}

p {
    font-size: 14px;
    font-family: Verdana;
}

footer > p:nth-child(2) {
    font-size: 8px;
    font-family:Verdana;
}

footer > p:first-child {
    text-align: center;
    font-size: 15px;
    font-family:Verdana;
}


